// Базовые стили

html, body {

	font-size: $baseFSize;
	font-weight: $baseFWeight;
	line-height: $baseLHeight;
}

a {

	text-decoration: $linkDecor;
	color: $baseColor;
}

p {

	line-height: 1.5;
	margin: $pmargin;
}

ul {

	margin: $ulmargin;
	padding: $ulpadding;
	list-style-type: $ulListStyleType;
}

button {

	&:focus, &:active {

		outline: none;
	}
}

@for $i from 1 through 6 {

	h#{$i} {

		font-size: 2em - $i*0.2;
		font-weight: bold;
		line-height: 1;
		margin: $hmargin;
	}
}

hr {

	width: 100%;
	height: 2px;
	margin: 5px 0;
	background: lighten($baseSecColor, 15%);
	background: linear-gradient(to right, rgba($baseSecColor, 0) 0, rgba(lighten($baseSecColor, 15%), 0.9) 20%, rgba(lighten($baseSecColor, 15%), 0.9) 80%, rgba($baseSecColor, 0) 100%);
	border: 0;
}

.clearfix, .clear, .clr {

	@include clearfix;
}

.widget {

	border: 1px solid $baseSecColor;
	margin-bottom: $gutter*2;

	&__title {

		background: #f4f3f3;
		background: linear-gradient(to top, #edeaea, #fcfcfc);
		color: $textColor;
		font-weight: bold;
		padding: 10px;
		text-align: center;
		border-bottom: 1px solid #d3d3d3;

		span {

			float: left;
			font-weight: 700;
		}

		a {

			float: right;
			font-size: 12px;
			padding-top: 2px;
			text-decoration: underline;
			color: $baseColor;
		}
	}

	&__content {

		background: $baseTrdColor;
		padding: 0;

		&--wpad {

			padding: 10px;
		}
	}
}

.content {

	@for $i from 1 through 6 {

		h#{$i} {

			padding-bottom: 5px;
			border-bottom: 1px solid $baseSecColor;
			margin-bottom: 10px;
		}
	}

	p {

		margin-bottom: 10px;

		&:last-child {

			margin-bottom: 0;
		}
	}
}

.social__buttons {

	@include clearfix;
	margin: 10px 0;

	&-item {

		float: left;
		font-size: $baseFSize;
		font-weight: 700;
		padding-top: 4px;
		margin-right: 5px;
		text-decoration: underline;


		&.goodshare {

			width: 25px;
			height: 25px;
			background: $baseColor;
			color: $baseTrdColor;
			font-weight: normal;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			border-radius: $bordersRadius;
			position: relative;
			top: 0;
			transition: top .2s linear, text-shadow .6s linear;

			&[data-type="gp"] {

				padding-top: 5px;
			}

			&:hover {

				background: #3cb878;
				top: -3px;
				text-shadow: 0 1px 1px $textColor;
				box-shadow: 0 1px 1px #4a4a4a;
			}
		}
	}
}

//Стили для таблицы

table {

	width: 100%;
	max-width: 100%;
	border: $borders;
}

th, tfoot td {

	background: darken(#fff, 15%);
}

th, td {

	text-align: center;
	padding: 8px;
	border: 1px solid darken(#ddd, 10%);
}

tbody {

	tr {

		&:nth-of-type(odd) {

			td {

				background: #fff;
			}
		}

		&:nth-of-type(even) {

			td {

				background: darken(#fff, 5%);
			}
		}
	}

	td {

		vertical-align: top;

		&:hover {

			text-decoration: underline;
		}
	}
}













