$btnType: flat; // flat or 3d
$button-colors: (

		default: #c2c2c2,
		primary: $baseColor,
		success: #27BA6C,
		info: #03a9f4,
		warning: #FF8833,
		danger: #ff0000
	);


.button {

	display: block;
	width: 100%;
	min-width: 100px;
	min-height: 25px;
	font-size: 14px;
	letter-spacing: 0.5px;
	color: #fff;
	padding: 5px 5%;
	@if $btnType == flat {
		border: 0;
	}@else if $btnType == 3d {
		border: 0;
		border-style: solid;
		border-bottom-width: 2px;
	}
	border-radius: $bordersRadius;
	text-align: center;
	vertical-align: top;
	text-decoration: none;

	@each $status, $color in $button-colors {

		&--#{$status} {

			@include one-way-gradient(to top, $color);
			@if $btnType == 3d {
				border-bottom-color: darken($color, 15%);
			}

			&:hover {

				@include one-way-gradient(to top, lighten($color, 5%));
			}

			&:active {

				@include one-way-gradient(to top, darken($color, 5%));
				@if $btnType == 3d {
					border-bottom-width: 0;
					border-top-width: 2px;
					border-top-color: darken($color, 15%);
					text-shadow: 0 1px 0 darken($color, 30%);
				}
			}
		}
	}
}