.goods {

	&-cats {

		
	}

	&__item {

		background: $baseTrdColor;
		border: 1px solid $borderColor;
		border-radius: $bordersRadius;
		padding: 10px;
		transition: all 0.5s linear;

		&:hover {

			border-color: lighten($baseColor, 20%);
			box-shadow: 0 0 7px $baseColor;
		}

		&-img img {

			width: 100%;
		}

		&-title {

			text-align: center;
		}

		&-img, &-title {

			margin-bottom: 10px;
		}

		&-price {

			font-size: 19px;
			text-align: center;

			> .fa {

				font-size: 17px;
			}
		}

		&-oldprice {

			color: $baseSecColor;
			text-decoration: line-through;
			font-size: 12px;
		}

		&-amount {

			width: 25%;
			float: left;
			margin-right: 10px;

			input {

				width: 100%;
			}

			& + input {

				float: right;
				width: calc(75% - 10px)
			}
		}

		hr {

			margin: 10px 0;
		}
	}
}