// Цвета

$baseColor: #003cff !default;
$baseSecColor: #d3d3d3 !default;
$baseTrdColor: #fff !default;

// Границы

$borderColor: #e2e2e2 !default;
$borders: 1px solid $borderColor !default;
$bordersRadius: 3px !default;

// Текст

$baseFamily: Tahoma, Verdana, sans-serif !default;
$baseFSize: 16px !default;
$baseFWeight: 400 !default;
$baseLHeight: 1 !default;
$textColor: #232323 !default;
$linkColor: $baseColor !default;
$linkDecor: none !default;

// Отступы

$pmargin: 0 !default;
$hmargin: 0 !default;
$ulmargin: 0 !default;
$ulpadding: 0 !default;
$ulListStyleType: none !default;


// Пути по-умолчанию

$imagePath: '../images/';

// Подключение градиента в проекте

$gradient: true; // true или false
